<!DOCTYPE html>
<html ng-app="cdpApp" lang="ja-jp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>CDP</title>

  <link rel="shortcut icon" href="favicon.ico" /> 

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
        crossorigin="anonymous">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
  
  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="./js/main.js"></script>

  <!-- ngTable -->
  <link rel="stylesheet"
        href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
</head>
<body>
<div class="container" ng-controller="CdpController">
  <h1><img src="img/tangram-48-185143.png" alt="icon" class="img-circle">CDP</h1>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#welcome" aria-controls="welcome" role="tab" data-toggle="tab">Welcome</a>
    </li>
    <li role="presentation">
      <a href="#role" aria-controls="role" role="tab" data-toggle="tab">役割</a>
    </li>
    <li role="presentation">
      <a href="#job" aria-controls="job" role="tab" data-toggle="tab">職種</a>
    </li>
    <li role="presentation">
      <a href="#task" aria-controls="task" role="tab" data-toggle="tab">タスク</a>
    </li>
    <li role="presentation">
      <a href="#roledef" aria-controls="roledef" role="tab" data-toggle="tab">役割定義</a>
    </li>
    <li role="presentation">
      <a href="#refer" aria-controls="refer" role="tab" data-toggle="tab">参照</a>
    </li>
    <li role="presentation">
      <a href="#debug" aria-controls="debug" role="tab" data-toggle="tab">Debug</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="welcome">
      <h1>説明</h1>
      <p>
        本CDPは、IPAが策定しているiCDを参照します。
        <a href="https://icd.ipa.go.jp/icd/icd" target="_blank"> --> iCDとは</a>
      </p>
      <h1>localStrage:</h1>
      <button class="btn btn-default" ng-click="clearStrage()">Clear</button>
      <h1>職種: {{data.jobs.length}}</h1>
      <button class="btn btn-default">Import</button>
      <button class="btn btn-default">Export</button>
      <h1>タスク: {{data.tasks.length}}</h1>
      <button class="btn btn-default">Import</button>
      <button class="btn btn-default">Export</button>
      <h1>役割: {{data.roles.length}}</h1>
      <button class="btn btn-default">Import</button>
      <button class="btn btn-default">Export</button>
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane" id="role">
      <h1>Role / 役割
        <small>
         各部場所毎に定義。
        </small>
      </h1>
      <div class="well">
        <p>自分の役割を選択してください。</p>
      </div>
      <form>
        <div class="form-group">
          <table class="table">
            <tr>
              <th></th>
              <th>役割名称</th>
            </tr>
            <tr ng-repeat="role in data.roles track by $index">
              <td></td>
              <td>{{role.name}}</td>
            </tr>
          </table>
        </div>
      </form>
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane" id="job">
      <h1>Jobs / 職種
        <small>
          <a href="https://icd.ipa.go.jp/icd/application/files/9514/7851/0542/iCD_2016V2_JobList.pdf" target="_blank">IPA iCD 2016V2 職種一覧</a>
        </small>
      </h1>
      <div class="well">
        <p>現在の職種と希望の職種を選択してください。</p>
        <p>TODO: 数が多い。UI改善？事前に定義で絞る？</p>
      </div>
      <table class="table" id="job_table">
        <tr>
          <th></th>
          <th>職種コード</th>
          <th>人材類型</th>
          <th>人材像</th>
          <th>出自</th>
          <th>職種</th>
          <th>専門分野</th>
        </tr>
        <tr ng-repeat="job in data.jobs">
          <td><div class="checkbox"><label><input type="checkbox"></label></div></td>
          <td>{{job[0]}}</td>
          <td>{{job[1]}}</td>
          <td>{{job[2]}}</td>
          <td>{{job[3]}}</td>
          <td>{{job[4]}}</td>
          <td>{{job[5]}}</td>
        </tr>
      </table>
    </div><!-- tab-pane -->

    <div role="tabpanel" class="tab-pane" id="task">
      <h1>Task / タスク</h1>
      <div class="well">
        <p>タスクの一覧です。タスクに必要なスキルを確認することができます。</p>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optTask" id="optTask1" value="option1" checked>
          全タスクを表示 
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optTask" id="optTask2" value="option2">
          役割・職種に対応するタスクのみ表示
        </label>
      </div>
      <label>大分類</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="..." placeholder="大分類">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select... <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">ST:（計画・実行）戦略</a></li>
            <li><a href="#">PL:（計画・実行）企画</a></li>
            <li><a href="#">DV:（計画・実行）開発</a></li>
            <li><a href="#">US:（計画・実行）利活用</a></li>
            <li><a href="#">EV:（計画・実行）評価・改善</a></li>
            <li><a href="#">MC:管理・統制</a></li>
            <li><a href="#">CM:推進・支援</a></li>
            <li><a href="#">SP:その他業務</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
      <table class="table" ng-table="taskTableParam">
        <tr ng-repeat="task in $data">
          <td title="'タスク大分類コード'">{{task[0]}}</td>
          <td title="'タスク大分類'">{{task[1]}}</td>
          <td title="'タスク中分類コード'">{{task[2]}}</td>
          <td title="'タスク中分類'">{{task[3]}}</td>
          <td title="'タスク小分類コード'">{{task[4]}}</td>
          <td title="'タスク小分類'">{{task[5]}}</td>
          <td title="'評価項目コード'">{{task[6]}}</td>
          <td title="'評価項目'">{{task[7]}}</td>
        </tr>        
      </table>
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane" id="refer">
      <h1>Task / タスク
        <small>
          <a href="https://icd.ipa.go.jp/icd/icd/task-dictionary/dicref" target="_blank">IPA iCD 2016V2 タスク構成図</a>
        </small>
      </h1>
      <h1>Skill / スキル
        <small>
          <a href="https://icd.ipa.go.jp/icd/icd/skill-dictionary/skillref" target="_blank">IPA iCD 2016V2 スキル構成図</a>
        </small>
      </h1>
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane" id="roledef">
      <h1>役割定義</h1>
      <div class="well"> 役割を作成しタスクを割り付けます。</div>
      <div class="row">
        <div class="col-xs-6">
          <table class="table table-striped table-hover">
            <tr>
              <th>役割</th>
              <th>タスク</th>
              <th>[Delete]</th>
            </tr>
            <tr ng-repeat="role in data.roles track by $index" ng-click="editRole(role)">
              <td>{{role.name}}</td>
              <td><span class="badge">{{role.tasks.length}}</span></td>
              <td>
                <button type="button" class="btn btn-default btn-xs"
                        aria-label="remove" ng-click="removeRole(role)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </table>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add new Role...
          </button>
        </div><!-- .col -->
        <div class="col-xs-6">
          <div class="well"> 役割にタスクを割り付けます。</div>
          <h1>{{editingRole.name}}</h1>
          <table class="table table-striped">
            <tr>
              <th>タスク</th>
            </tr>
            <tr ng-repeat="task in editingRole.tasks track by $index">
              <td>{{task.name}}</td>
            </tr>
          </table>
          <div class="well"> TODO:タスク表示、選択</div>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .tab-pane -->

    <div role="tabpanel" class="tab-pane" id="debug">
      <h1>Debug</h1>
      <div class="well">
        {{data.roles}}
      </div>
      <div class="well">
        {{header}}
      </div>
    </div><!-- .tab-pane -->
  </div><!-- .tab-content -->
  
  <!-- Modal for add Role -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add new Role</h4>
        </div>
        <div class="modal-body">
          <label>Role Name</label>
          <input type="text" ng-model="newRole.name" size="30"
                 placeholder="role name" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="addRole()">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- modal -->

</div> <!-- .container -->
</body>
</html>